

img {
  height: 200px;
  width: 200px;
  display: inline-block;
}

#img-0 {
  height: 300px;
  width: 1100px;
  margin-left: 100px;
}

#img-1 {
   height: 500px;
  width: 500px;
  position: fixed;
  margin-right: 100px;
}





#img-9 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-10 {
   height: 300px;
  width: 300px;
  margin-left: 100px
 
}



#img-12 {
   height: 300px;
  width: 300px;
  margin-left: 100px
  position: fixed
}

#img-13 {
   height: 300px;
  width: 1100px;
  margin-left: 100px
}

#img-14 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-15 {
   height: 300px;
  width: 300px;
  margin-left: 100px
  position: fixed
  
}

#img-16 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-17 {
   height: 300px;
  width: 300px;
  margin-left: 100px
  position: fixed
}

#img-18 {
   height: 300px;
  width: 1100px;
  margin-left: 100px
}

#img-19 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-20 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-21 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-22 {
   height: 300px;
  width: 300px;
  margin-left: 100px
}

#img-23 {
   height: 300px;
  width: 1100px;
  margin-left: 100px
}
