.text-one {
	property: value;
	property: value;
}

.text-one {
	font-family: serif;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 2px;
	font-style: normal;
	line-height: 2;
	text-transform: lowercase;
}
